.main-div {
    border: 1px solid grey;
    border-radius: 5px;
    width: max-content;
    padding: 1rem;
    margin: auto;
}
.container {
    padding: 2rem;
}
div a {
    display: flex;
    justify-content: end;
    text-decoration: none;
}
div button {
    cursor: pointer;
}
.btn-div {
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
    width: auto;
}
.input {
    margin: 0.7rem 0 0.7rem 0;
}
#error {
    color: red;
    text-align: center;
}
/* .quadra-input {
    display: none;
} */